body {
 background-color: hsl(0, 0%, 0%);
 text-align: center;   
}

.heading {
   font-family: Verdana;
   font-weight: normal;
   /* font-size: 20px; */
   color: white;
}
.hyperlink {
    color: aquamarine;
    font-size: 16px;
    font-family: Verdana;
}
.paragraph {
    font-family: verdana;
    font-size: 21px;
    color: gray;
}
.copyright {
    text-align: right;
    color: gray;
    font-family: Verdana;
    font-weight: normal;
}
